.wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: "Poppins";
  .navbar {
    background: linear-gradient(to left, #e8cbc0, #636fa4);
  }
}

.body-wrapper {
  background-color: rgba(255, 255, 255, 0.5);

  .contact-links img {
    width: 2rem;
    margin-right: 0.5rem;
    &:hover {
      transform: scale(1.2);
    }
  }

  .soc-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      text-decoration: none;
      color: aliceblue;
      &:hover {
        text-shadow: 1px 1px 5px darkred;
      }
    }
  }
}

.img-logo {
  max-width: 1.25rem;
  height: 1.25rem;
}

// .intro-text {
//   text-shadow: 0px 0px 10px black;
// }

// .specific-text {
//   text-shadow: 1px 1px 5px darkred;
// }

.heading-text {
  font-weight: 500;
  width: fit-content;
}

.img-author {
  max-width: 40%;
}
.card {
  background-color: inherit;
}
.card-img {
  filter: invert(1);
}

.skills-sect {
  background: linear-gradient(to left, #e8cbc0, #636fa4);
}

.text-cloud {
  width: fit-content;
  height: 30rem;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  justify-items: center;
  align-items: center;

  .hard-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .soft-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
.projects-wrapper {
  border-top: 4px solid gray;
  .prjcts {
    border-bottom: 2px dashed gray;
    padding-bottom: 10px;
  }
}

.skills p {
  text-align: center;
}

.skills img {
  max-width: 2rem;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.img-carousel-1 {
  width: 700px;
  height: 400px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.img-carousel-2 {
  width: 600px;
  height: 400px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.img-carousel-3 {
  img {
    width: 500px;
    margin-left: 3rem;
  }
}

.img-carousel-4 {
  img {
    width: 500px;
  }
}

.contact-links {
  background: linear-gradient(to left, #e8cbc0, #636fa4);
}

@media screen and (max-width: 990px) {
  .heading-text {
    width: 32rem;
  }
  .contact-links {
    flex-direction: column;
    .soc-links {
      margin-bottom: 2rem;
    }
  }
}

.nav-link:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 2px rgb(255, 184, 184);
}

@media screen and (max-width: 768px) {
  .img-author {
    max-width: 100%;
    height: 90%;
    margin-top: 7.5rem;
  }
  .heading-text {
    width: 12.5rem;
    margin: 0 auto;
  }
  .intro-text h1 {
    width: 300px;
  }

  .text-cloud {
    grid-template-columns: 1fr;
    justify-items: center;
    height: fit-content;
    padding-bottom: 1rem;
    .hard-skills,
    .soft-skills {
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      width: fit-content;
      max-width: 25rem;
      column-gap: 3rem;
    }
  }

  .img-carousel {
    img {
      transform: scale(0.8);
    }
  }
}

@media screen and (max-width: 575px) {
  .heading-text {
    width: 18.75rem;
  }
  .img-author {
    margin-top: 1rem;
  }

  .intro-text h1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 18.75rem;
  }
}

@media screen and (min-width: 499px) {
  .short-strengths {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  .heading-text {
    width: 12rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .img-author {
    margin-top: 1rem;
  }

  .intro-text {
    h1 {
      margin-left: auto;
      margin-right: auto;
      max-width: 12rem;
      align-items: center;
    }
  }
  .short-strengths h2 {
    margin: 2rem auto;
  }
  .short-strengths ul li {
    margin: 1rem auto;
  }
  .card {
    display: none;
  }
  .skills img {
    display: none;
  }

  .img-carousel {
    img {
      display: none;
    }
    p {
      width: fit-content;
    }
  }

  .video-carousel {
    display: none;
  }

  .prjcts {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prjcts {
    margin: 0px !important;
    h2 {
      text-align: center;
      margin-right: 0px !important  ;
      margin-left: 0px !important;
      padding-left: 0px !important ;
      padding-right: 0px !important;
      margin-top: 1rem;
    }
  }

  .prjcts p {
    width: fit-content;
  }

  .img-carousel-1 {
    width: 0px;
  }

  .project-2 {
    div {
      justify-content: center;
      height: fit-content;
    }
  }

  .img-carousel-2 {
    width: 0px;
  }

  .project-3 {
    div {
      justify-content: center;
      height: fit-content;
    }
  }

  .contact-links {
    justify-content: center;
  }

  .soc-links div img {
    display: none;
  }
}
